.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    /* background-color: brown; */
    justify-content: space-between;
}

.spanText{
    color: white;
}