.getstartedBtn {
  width: 140px;
  height: 50px;
  background-color: rgba(179, 55, 113, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s ease;
  margin-left: 40px;
  margin-top: 20px;
}

.getstartedBtn:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(179, 55, 113, 1);
}

.getstartedBtn:hover .getStartedText {
    color: rgba(179, 55, 113, 1);
  }
.getStartedText {
  color: #ffffff;
}
